.a-app {
  height: 100%;
  left: 0;
  letter-spacing: 0.125em;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity 1s linear;
  width: 100%;
}
  .a-app--canvas {
    background-color: var(--background-color);
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
    transition-property: filter, opacity;
    width: 100%;
    z-index: 0;
  }
    .a-app--canvas-blur {
      filter: blur(1em);
      opacity: 0;
    }
  .a-app--overlaySupport {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 666;
  }
  .a-app--screen {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: all 0.25s ease;
    transition-property: opacity;
    width: 100%;
    z-index: 1;
  }
    .a-app--screen > * {
      flex: 1 1 auto;
      max-width: 64em;
    }
    .a-app--screen-active {
      opacity: 1;
      z-index: 3;
    }
    .a-app--screen-inactive {
      opacity: 0;
      z-index: 2;
    }
    .a-app--screen-transparent {
      background-color: transparent;
    }
  .a-app--toasts {
    left: 1.75rem;
    position: absolute;
    top: 1.75rem;
    z-index: 4;
  }

.a-app-active {
  opacity: 1;
}

/* Capsule mode */
.a-app-capsule {}
.a-app-capsule .a-game--info,
.a-app-capsule .a-game--nav,
.a-app-capsule .a-splash--details,
.a-app-capsule .a-splash--instruction {
  display: none;
}
.a-app-capsule .a-app--splash {
  background: transparent !important;
  display: block !important;
  opacity: 1 !important;
  pointer-events: none !important;
  z-index: 999 !important;
}
.a-app-capsule .a-splash--logo {
  font-size: 1.666em;
  opacity: 1 !important;
  transform: translateY(-2em);
}
.a-app-capsule .a-splash--logoSymbol {
  animation: none !important;
  opacity: 0.666;
}
.a-app-capsule .a-splash--logoSymbol i {
  animation: none !important;
}
